/.vscode
*.pdb
*.exe
*.ilk
*.obj
/shell.bat
/example/freetype
/example/sdl
/example/xlib
/example/xproto
/example/harfbuzz
/example/fribidi
/example/icu
/example/build-*
/msvc.env
/*.rdbg
*.bin
*.gcda
*.gcno
*.gcov
/example/fontdata.c